<header class="flex w-full mt-4 justify-center items-center relative">
	<h1 class="text-3xl font-bold m-auto">Välj bana</h1>
	<div class=" absolute right-4 bottom-2">
		<a href='/login'>Logga in</a>
	</div>
	{{!-- {{message}} --}}
</header>