<!-- public/views/layouts/main.hbs -->
<!DOCTYPE html>
<html>

<head>
	<link href="/public/styles/tailwind.css" rel="stylesheet">
	<script defer src="/public/scripts/alpine.min.js"></script>
</head>

<body class="text-white bg-black">
	{{{ body }}}
</body>

</html>